img{
	width:80px;
}
body{
	background-color: #fff;
	background-image: linear-gradient(-90deg, #a580cf, #e2a9f3);
	font-family: arial;
}
.row{
	margin:auto;
	width: 800px;
	max-width: 100%;
}
.header{
	height: 100px;
	max-height: 100%;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	font-family: arial;
	color: #9c3c92;
}
.dice{
	max-width: 520px;
	margin:0 auto;
}
.score{
	background-color: rgba(255, 255, 255, 0.3);
	color: #9c3c92;
	height: 60px;
	max-height:100%;
	font-size: 32px;
	text-align: center;
	line-height: 60px;
	width:120px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button {
  background-color: rgba(183, 3, 144, 0.362);
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 25px;
  transition: background-color 2s ease-out 100ms
}
.column{
	float: left;
	width:20%;
	margin-left: 160px;
}

.roll{
}
.roll:hover{
	background-color: rgb(183, 3, 144);
	animation: effect 0.4s infinite;
}
.bank{
}
.bank:hover{
	background-color: rgb(183, 3, 144);
}

@keyframes effect {
	0% {
		transform: translateX(0px) rotate(0deg);
	}
	20% {
		transform: translateX(-4px) rotate(-4deg);
	}
	40% {
		transform: translateX(-2px) rotate(-2deg);
	}
	60% {
		transform: translateX(4px) rotate(4deg);
	}
	80% {
		transform: translateX(2px) rotate(2deg);
	}
	100% {
		transform: translateX(0px) rotate(0deg);
	}
}
.transparent{
	/*For dice that are selected*/
	opacity: 0.75;
}